:root {
  line-height: 1.2;
  font-weight: 400;
  --violet:#5535a0;
  --lightViolet: #7f51e9;
  --bone:#f2f2f2;
  --green:rgb(0, 255, 64);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
