/* Barra de navegación */
nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #007bff;
  }
  